.container .box:hover {
  box-shadow: 15px 15px 13px rgba(85, 85, 85, 0.3);
  transition: 0.4s;
  transform: translate(-1%, -1%);
}
.container .box {
  position: relative;
  height: 200px;
  box-shadow: 3px 3px 10px rgba(85, 85, 85, 0.5);
  border-radius: 8px;
  margin-bottom: 7%;
  transition: 1s;
}
.container .box a:hover .box__title {
  height: 35%;
  transition: 1s;
}
.container .box a:hover .box__title p {
  opacity: 1;
}
.container .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 8px;
}
.container .box .box__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: #000;
  opacity: 0.8;
  border-radius: 0 0 8px 8px;
  vertical-align: middle;
  transition: 0.5s;
  transition-timing-function: ease-out;
}
.container .box .box__title p {
  opacity: 0;
  text-align: center;
  color: #0f0e0e;
  font-size: 0.8em;
  margin: 0;
  transition-delay: 0.2s;
  transition: 0.2s;
  transition-timing-function: ease-out;
}
.container .box .box__title h6 {
  text-align: center;
  color: #bababa;
  text-transform: uppercase;
  margin: 7% 0 0 0;
  font-size: 0.9em;
}

.container .box .box__title.sk-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  opacity: 0.8;
  background-color: #000;
  border-radius: 0 0 8px 8px;
  vertical-align: middle;
  transition: 0.5s;
  transition-timing-function: ease-out;
}

@media screen and (max-width: 768px) {
  .ar-image {
    width: 200px !important;
    height: 100px !important;
  }
  .sk-image {
    max-width: 100%;
    height: auto;
  }
}
